@charset "utf-8";

/*messager*/
//-----------------------------------
.messager-body {
    padding: 10px;
    overflow: auto;
    .messager-input {
        width: 100%;
        padding: 1px 0;
        border: 1px solid colors(borderColor);
    }
}
.messager-button {
    @include text-align(center);
    padding: 5px;
    .l-btn {
        width: 70px;
    }
}
.messager-icon {
    @include float;
    @include square(32px);
    margin: 0 10px 10px 0;
}
.messager-error {
    background: url('images/messager_icons.png') no-repeat scroll -64px 0;
}
.messager-info {
    background: url('images/messager_icons.png') no-repeat scroll 0 0;
}
.messager-question {
    background: url('images/messager_icons.png') no-repeat scroll -32px 0;
}
.messager-warning {
    background: url('images/messager_icons.png') no-repeat scroll -96px 0;
}
.messager-progress {
    padding: 10px;
}
.messager-p-msg {
    margin-bottom: 5px;
}