@charset "utf-8";

/*slider*/
//----------------------------
.slider-disabled {
    @include opacity(0.5);
}
.slider-h {
    height: 22px;
}
.slider-v {
    width: 22px;
    .slider-inner {
        width: 0;
        left: 10.5px;
        top: 0;
        float: left;
    }
    .slider-handle {
        left: 50%;
        margin-top: -10px;
    }
    .slider-tip {
        left: -10px;
        margin-top: -6px;
    }
    .slider-rule {
        float: left;
        top: 0;
        left: 20px;
        span {
            width: 5px;
            height: 'auto';
            border-width: 1px 0 0 0;
            border-style: solid;
        }
    }
    .slider-rulelabel {
        float: left;
        top: 0;
        left: 27px;
    }
}
.slider-inner {
    position: relative;
    height: 0;
    top: 10.5px;
    background: colors(white);
    @include border(1px,solid,colors(borderColor));
    border-bottom-width:0;
    border-left-width: 0;
    @include prefix(border,radius,3px);
}
.slider-handle {
    @include positionDisplay(absolute,block);
    outline: none;
    @include square(20px);
    top: 50%;
    margin-top: -10px;
    margin-left: -10px;
    background: url('images/slider_handle.png') no-repeat;
}
.slider-tip {
    @include positionDisplay(absolute,inline-block);
    line-height: 12px;
    font-size: fontSize(small);
    white-space: nowrap;
    top: -22px;
}
.slider-rule {
    position: relative;
    top: 15px;
    span {
        @include positionDisplay(absolute,inline-block);
        font-size: 0;
        height: 5px;
        border-width: 0 0 0 1px;
        border-style: solid;
        border-color: colors(borderColor);
    }
}
.slider-rulelabel {
    position: relative;
    top: 20px;
    span {
        @include positionDisplay(absolute,inline-block);
        font-size: fontSize(small);
        color: colors(black);
    }
}
.slider{
    position: relative;
    z-index: 1;
}
////slider-box
//.slider-box{
//    position: relative;
//    width:auto;
//    height:auto;
//    display: block;
//}
//.slider-box-h{
//    padding: 0 20px;
//}
//.slider-box-v{
//    padding: 20px 0;
//}

//slider ends circle
.ends-circle{
    position: absolute;
    z-index: 0;
    @include square(9px);
    border-radius: 100%;
    @include border(1px,solid,colors(borderColor));
    span{
        position: absolute;
        z-index: 0;
        display: block;
    }
}
.ends-circle-l{
    top:5.5px;
    left:-20px;
    span{
        right:-10px;
        width: 10px;
        top: 4px;
        border-bottom:1px solid colors(borderColor);
    }
}
.ends-circle-r{
    top:5.5px;
    right:-20px;
    span{
        left:-10px;
        width: 10px;
        top: 4px;
        border-bottom:1px solid colors(borderColor);
    }
}
.ends-circle-t{
    top: -20px;
    left: 5.5px;
    span{
        bottom: -10px;
        height:10px;
        left: 4px;
        border-left:1px solid colors(borderColor);
    }
}
.ends-circle-b{
    bottom:-20px;
    left: 5.5px;
    span{
        top: -10px;
        height:10px;
        left: 4px;
        border-left:1px solid colors(borderColor);
    }
}